body, html {
    overflow-x: hidden;
}

#mainapp {
    position: relative;
    right: 0;
    opacity: 1;
    transition: opacity 1s, right 1s;
}

#mainapp a {
    text-decoration: underline;
    cursor: pointer;
    color: purple;
}